<!DOCTYPE html>
<html ng-app="myBanqueApp" ng-controller="myBanqueController">
<head>
    <meta charset="UTF-8"/>
    <title>Banque</title>

    <link rel="stylesheet" type="text/css" href="myStyle.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="angular/angular.min.js"></script>



</head>
<body >
<div class="col-md-6 col-sm-12 col-xs-12">

    <div class="panel panel-info  spacer" >
        <div class="panel-heading">Compte</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Code Compte:</label>
                    <input type="text" ng-model="codeCompte"/>
                    <button ng-click="chargerCompte()">Charger</button>
                </div>
            </form>

        </div>

    </div>

</div>
<div ng-if="compte">
<div class="col-md-6 col-sm-12 col-xs-12">

    <div class="panel panel-info  spacer" >
        <div class="panel-heading">Infos Sur le Compte</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Solde:</label>
                <label>{{compte.solde}}</label>
            </div>
            <div class="form-group">
                <label>Date Création:</label>
                <label>{{compte.datecreation|date:'yyyy-MM-dd HH:mm:ss'}}</label>
            </div>
            <div ng-if="compte.taux">
                <label>Taux:</label>
                <label>{{compte.taux}}</label>
            </div>
            <div ng-if="compte.decouvert">
                <label>Découvert:</label>
                <label>{{compte.decouvert}}</label>
            </div>

        </div>

    </div>

</div>

    <div class="col-md-6 col-sm-12 col-xs-12">

        <div class="panel panel-info  spacer" >
            <div class="panel-heading">Operations sur le Compte</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                    <label>Versement:</label>
                    <input type="radio" ng-model="operation.type" value="versement"/>
                    <label>Retrait:</label>
                    <input type="radio" ng-model="operation.type" value="retrait"/>
                    <label>Virement:</label>
                    <input type="radio" ng-model="operation.type" value="virement"/>
                    </div>
                    <div class="form-group">
                    <label>Montant:</label>
                    <input type="text" ng-model="operation.montant">
                    </div>
                    <button ng-click="saveOperation()" class="btn btn-primary">Save</button>
                </form>
            </div>

        </div>

    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">

        <div class="panel panel-info  spacer" >
            <div class="panel-heading">Liste des Opérations</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Numéro</th><th>Date Opération</th><th>Montant</th><th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="op in pageOperations.operations">
                        <td>{{op.numeroOperation}}</td>
                        <td>{{op.dateOperation|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{op.montant}}</td>
                        <td>{{op.type}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>


</div>
<script src="js/myApp.js"></script>

</body>
</html>